@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

.font-gw {
  font-family: var(--font-gw);
}
.font-wg {
  font-family: var(--font-wg);
}
.font-ft {
  font-family: var(--font-ft);
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-at{
  font-family: var(--font-at);
}

.font-fc{
  font-family: var(--font-firacode);
}


@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}
