@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}


:root {
  --background: #001220;
  --foreground: #F9CB43;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-gw {
  font-family: var(--font-gw);
}

.font-outfit {
  font-family: var(--font-outfit);
}
.font-wg{
  font-family: var(--font-wg);
}